{% extends 'base.html' %}

{% block title %}Добавить пользователя{% endblock %}

{% block content %}
    <div class="user-form-container">
        <h1>Добавить нового пользователя</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Создать пользователя</button>
        </form>

        <div class="form-link">
            <a href="{% url 'user_list' %}">Вернуться к списку пользователей</a>
        </div>
    </div>
{% endblock %}
