{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<h2 class="welcome-header">Добро пожаловать, {{ user.username }}!</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}

    {% if user.role == 'admin' %}
            <div class="admin-panel">
                <h3>Панель администратора</h3>
                <ul class="admin-links">
                    <div>
                        <a href="{% url 'user_list' %}">Посмотреть список пользователей</a>
                    </div>
                    <div>
                        <a href="{% url 'add_user' %}">Добавить нового пользователя</a>
                    </div>
                </ul>
            </div>
        {% endif %}

        <div class="links-container">
            <p><a href="{% url 'change_password' %}">Сменить пароль</a></p>
            <p><a href="{% url 'logout' %}">Выйти</a></p>
        </div>
{% endblock %}