{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логин</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">Никнейм:</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Войти</button>
    </form>
    
    {% if error %}
        <p>Вы ввели неверный логин или пароль. Пожалуйста проверьте ещё раз введенные данные</p>
    {% endif %}
    
</body>
</html>